extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - pageTitle = "СервисАгро+"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  .test(style="height: 1500px")
    .container container
