@use "../../scss/breakpoints";
@use "../../scss/mixins/text-styles";

.grid {
  $block-name: &; // #{$block-name}__element

  > *:not(:first-child) {
    margin-top: 64px;
  }

  @media screen and (min-width: breakpoints.$screen-d) {
    > *:not(:first-child) {
      margin-top: 120px;
    }
  }
}
