@use "../../scss/breakpoints";
@use "../../scss/mixins/text-styles";

.grid {
  $block-name: &; // #{$block-name}__element

  padding-top: 10px;

  @media screen and (min-width: breakpoints.$screen-d) {
    padding-top: 24px;

    > *:not(:first-child) {
      margin-top: 120px;
    }
  }

  > *:not(:first-child) {
    margin-top: 64px;
    scroll-margin-top: 104px;
  }
}
