@use "breakpoints";
@use "mixins/text-styles";
@use "sass:color";

:root {
  // color primitives
  --color-black: #000;
  --color-white: #fff;

  --white: #ffffff;
  --grey: #595959;
  --black: #000000;
  --black-transparent: rgba(0 0 0 / 40%);
  --blue-lighten: #eaf6ff; // Bckg-blue
  --blue-light: #5ca6db;
  --blue-medium: #3789c3;
  --blue: #196ca8; // Primary
  --blue-dark: #124f7c;
  --red: #b90202;

  // fonts
  --font-sans: "Gilroy", system-ui, Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
  "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  // base
  --body-bg: var(--back-primary);
  --body-color: var(--front-primary);
  --font-base: var(--font-sans);
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;

  // semantic colors
  --front-primary: var(--black);
  --front-secondary: var(--grey);
  --front-tertiary: var(--blue-lighten);
  --front-invert: var(--white);
  --front-brand: var(--blue);
  --front-error: var(--red);

  --back-primary: var(--white);
  --back-secondary: var(--blue-lighten);
  --back-light: var(--blue-light);
  --back-medium: var(--blue-medium);
  --back-dark: var(--blue);
  --back-circle-light: #83c7f8;
  --back-circle-medium: #61aee5;
  --back-circle-dark: #4393cd;

  --darker-bg-color: var(--black-transparent);

  // transitions
  --transition-default: 0.25s ease;

  // shadows

  // blur
  --blur-default: blur(8px);

  // z-index
  --z-index-base: 1;
  --z-index-header: 2;
  --z-index-darker: 3;
  --z-index-nav: 4;

  // layout
  --max-width: 1296px;
  --nav-width: 264px;

  --page-padding: 16px;
  @media screen and (min-width: breakpoints.$screen-ti) {
    --page-padding: 24px;
  }
}
