@use "../../scss/breakpoints";
@use "../../scss/mixins/button-reset";
@use "../../scss/mixins/link-reset";
@use "../../scss/mixins/text-styles";

.header {
  $block-name: &; // #{$block-name}__element

  padding: 32px 0 14px;
  background-color: var(--back-primary);

  @media screen and (min-width: breakpoints.$screen-d) {
    padding: 41px 0 7px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @include button-reset.button-reset;

    width: 148px;
    height: 20px;
    transition: opacity var(--transition-default);

    @media screen and (min-width: breakpoints.$screen-t) {
      width: 211px;
      height: 28px;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__nav {
    display: none;
    gap: 32px;
    margin: 0 auto 0 54px;

    @media screen and (min-width: breakpoints.$screen-d) {
    	display: flex;
    }
  }

  &__link {
    @include link-reset.link-reset;
    @include text-styles.description;

    transition: color var(--transition-default);

    @media (hover: hover) {
      &:hover {
        color: var(--front-brand);
      }
    }
  }

  &__actions {
    display: none;
    gap: 34px;
    align-items: center;

    @media screen and (min-width: breakpoints.$screen-d) {
    	display: flex;
    }
  }

  &__phone {
    transition: transform var(--transition-default);

    @media (hover: hover) {
      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  &__menu {
    @include button-reset.button-reset;

    width: 34px;
    height: 34px;

    @media screen and (min-width: breakpoints.$screen-d) {
      display: none;
    }
  }
}
